<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<div id="contato" class="visually-hidden">

  <form action="post" class="form">

    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text"
             name="nome"
             id="nome"
             class="form-control"
             placeholder="Digite seu nome"
             aria-describedby="helpNome" />
      <small id="helpNome" class="text-muted">Digite um nome válido</small>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="text"
             name="email"
             id="email"
             class="form-control"
             placeholder="Digite seu email"
             aria-describedby="helpEmail" />
      <small id="helpEmail" class="text-muted">Digite um e-mail válido</small>
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">Data</label>
      <input type="text"
             name="date"
             id="date"
             class="form-control"
             placeholder="Digite uma data válida"
             aria-describedby="helpDate" />
      <small id="helpDate" class="text-muted">Digite uma data válida </small>
    </div>

    <div class="mb-3">
      <label for="time" class="form-label">Hora</label>
      <input type="text"
             name="time"
             id="time"
             class="form-control"
             placeholder="Digite uma hora"
             aria-describedby="helpTime" />
      <small id="helpTime" class="text-muted">Digite uma hora válida</small>
    </div>

    <div class="mb-3">
      <label for="cep" class="form-label">CEP</label>
      <input type="text"
             name="cep"
             id="cep"
             class="form-control"
             placeholder="Digite seu CEP"
             aria-describedby="helpCep" />
      <small id="helpCep" class="text-muted">Digite um CEP válido</small>
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Telefone</label>
      <input type="text"
             name="phone"
             id="phone"
             class="form-control"
             placeholder="Digite seu telefone"
             aria-describedby="helpPhone" />
      <small id="helpPhone" class="text-muted">Digite um celular válido</small>
    </div>

    <div class="mb-3">
      <label for="cpf" class="form-label">CPF</label>
      <input type="text"
             name="cpf"
             id="cpf"
             class="form-control"
             placeholder="Digite seu CPF"
             aria-describedby="helpCPF" />
      <small id="helpCPF" class="text-muted">Digite um CPF válido</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>
