<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6">
        <div class="card rounded-3 shadow text-black">
          <div class="row g-0 justify-content-center align-items-center">
            <div class="card-body p-md-5 mx-md-4">

              <div class="text-center">
                <h3 class="mt-1 mb-5 pb-1"><b>CONTATO</b></h3>
              </div>

              <form (ngSubmit)="sendContact()">
                <!-- Nome -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                  <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <input type="text" id="formName" class="form-control" name="name" placeholder="Nome" [(ngModel)]="contact.name" required />
                  </div>
                </div>

                <!-- Telefone -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-phone fa-lg me-3 fa-fw"></i>
                  <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <input type="tel"
                           id="formPhone"
                           class="form-control"
                           name="phone"
                           placeholder="(00) 00000-0000"
                           maxlength="13"
                           [(ngModel)]="contact.phone"
                           required />
                  </div>
                </div>

                <!-- E-mail -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                  <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <input type="email" id="formEmail" class="form-control" name="email" placeholder="E-mail" [(ngModel)]="contact.email" required />
                  </div>
                </div>

                <!-- Assunto -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-tag fa-lg me-3 fa-fw"></i>
                  <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <input type="text" id="formSubject" class="form-control" name="subject" placeholder="Assunto" [(ngModel)]="contact.subject" required />
                  </div>
                </div>

                <!-- Mensagem -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-comment fa-lg me-3 fa-fw"></i>
                  <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <textarea id="formMessage" class="form-control" name="message" placeholder="Mensagem" rows="4" [(ngModel)]="contact.message" required></textarea>
                  </div>
                </div>

                <!-- Botão Enviar -->
                <div class="text-center pt-1 pb-1">
                  <button data-mdb-button-init data-mdb-ripple-init class="w-100 btn btn-outline-dark btn-md btn-block" type="submit">
                    Enviar
                  </button>
                </div>

                <p *ngIf="responseMessage" style="margin-top: 5px; margin-bottom: 5px" class="text-center">{{ responseMessage }}</p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
