<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="caption">
          <h2>Vida Holística</h2>
          <div class="line-dec"></div>
          <p>Sejam bem-vindos ao site cheio de produtos para quem busca viver uma vida baseada em terapias holísticas!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="featured" class="featured-items">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Destaques</h1>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-carousel owl-theme">
          <div class="featured-item">
            <img src="assets/images/neti.png" alt="Item 1">
            <h4>Neti Poti</h4>
            <h6>R$ 50,00</h6>
            <div class="container-a">
              <a href="single-product.html">
                Comprar
              </a>
            </div>
          </div>
          <div class="featured-item">
            <img src="assets/images/toothbrush.png" alt="Item 2">
            <h4>Escova de dentes de Bambu</h4>
            <h6>R$ 20,00</h6>
            <div class="container-a">
              <a href="single-product.html">
                Comprar
              </a>
            </div>
          </div>
          <div class="featured-item">
            <img src="assets/images/tongue-cleaner.png" alt="Item 3">
            <h4>Limpador de língua cobre</h4>
            <h6>R$ 60,00</h6>
            <div class="container-a">
              <a href="single-product.html">
                Comprar
              </a>
            </div>
          </div>
          <div class="featured-item">
            <img src="assets/images/incenso.png" alt="Item 4">
            <h4>Incenso Bastão</h4>
            <h6>R$ 35,00</h6>
            <div class="container-a">
              <a href="single-product.html">
                Comprar
              </a>
            </div>
          </div>
          <div class="featured-item">
            <img src="assets/images/oil].png" alt="Item 5">
            <h4>Óleos Vegetais</h4>
            <h6>R$ 25,00</h6>
            <div class="container-a">
              <a href="single-product.html">
                Comprar
              </a>
            </div>
          </div>
          <div class="featured-item">
            <img src="assets/images/brush.png" alt="Item 6">
            <h4>Escova à seco</h4>
            <h6>R$ 50,000</h6>
            <div class="container-a">
              <a href="single-product.html">
                Comprar
              </a>
            </div>
          </div>
          <div class="featured-item">
            <img src="assets/images/yoga.png" alt="Item 7">
            <h4>Blocos de Yoga Diversos</h4>
            <h6>R$ 40,00</h6>
            <div class="container-a">
              <a href="single-product.html">
                Comprar
              </a>
            </div>
          </div>
          <div class="featured-item">
            <img src="assets/images/yogamat.png" alt="Item 8">
            <h4>Tapetes de Yoga</h4>
            <h6>R$ 200,00</h6>
            <div class="container-a">
              <a href="single-product.html">
                Comprar
              </a>
            </div>
          </div>
          <div class="featured-item">
            <img src="assets/images/contato-de-distribuidora-de-cha-natural.png" alt="Item 9">
            <h4>Ervas para chás</h4>
            <h6>R$ 10,00</h6>
            <div class="container-a">
              <a href="single-product.html">
                Comprar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Receba novidades</h1>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="main-content">
          <p>Insira seus dados abaixo para receber informações atualizadas de nossos produtos</p>
          <div class="container">
            <form id="subscribe" class="form" action="" method="get">
              <div class="row">
                <div class="col-md-7">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" value=""
                           placeholder="Seu e-mail...">
                  </fieldset>
                </div>
                <div class="col-md-5">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">Inscreva-se</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
